@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-comme), Arial, Helvetica, sans-serif;
}
.nav{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  position: fixed;
  z-index: 9999;
}

.main-nav{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 15px;
  width: 90%;
  background-color: rgb(20, 20, 20);
}
.top-nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0px 25px;
}
.top-name{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: left;
  font-family: var(--font-comme);
  font-size: 20px;
  font-weight:lighter;
  letter-spacing: 15px;
  color: rgba(229, 223, 217, 1);
}
.top-icons{
  display: flex;
  align-items: center;
  justify-content: right;
  width: 50%;
  /* background-color: yellow; */
  padding: 10px;
  gap: 15px;
  font-size: 22px;
  color: rgba(229, 223, 217, 1);
  cursor: pointer;
}
.bottom-nav{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  width: 100%;
  color: rgba(229, 223, 217, 1);
  cursor: pointer;
  padding: 10px;
}
/* Images */
.main-images{
  padding: 25px;
  margin-top: 6%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 90%;
  background-color: rgb(20, 20, 20);
}

/* Container */

.main-cont{
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(20, 20, 20);
  gap: 40px;
}
.container-head{
  display: flex;
  align-items: center;
  font-size: 18px;
  gap: 10px;
  color: rgba(229, 223, 217, 1);
}
.container-head div{
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: rgba(229, 223, 217, 1);
}
.container-card{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 equal columns */
  gap: 10px; /* Space between grid items */
  padding: 20px;
}


/* Card */

.card-main{
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background-color: rgb(30, 30, 30);
  overflow: hidden;
}
.card{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.card-img {
  position: relative;
  width: 100%;
  height: 65%;
  overflow: hidden;
  background-color: white;
}
.card-img img{
  padding: 15px;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  object-position: center;
  object-fit: contain;
  transition: 0.3s ease-in-out;
}
.card-img img:hover{
  transform: scale(0.95);
}
.card-data{
  width: 100%;
  height: 35%;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 15px;
}
.heading{
  width: 100%;
  height: 50%;
  font-family: var(--font-comme);
  color: rgba(229, 223, 217, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.heading h2{
  font-size: 17px;
}
.pricing{
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgba(229, 223, 217, 1);
  font-size: 30px;

}
.pricing-p{
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: rgba(229, 223, 217, 1);
  font-size: 12px;
  align-items: end;
}
.pricing-p p{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgba(229, 223, 217, 1);
  font-size: 18px;
}
.pricing-p h2{
  text-decoration: line-through;
}
.spec-price{
  font-size: 5px;
}
.half{
  display: flex;
  align-items: center;
  justify-content: end;
  width: 30%;
  cursor: pointer;
}
.spec-icon{
  font-size: 30px;
  z-index: 999;
  position: absolute;
  top: 15px;
  right: 15px;
}
/* 
Responsive Design */

@media only screen and (max-width: 1100px) and (min-width: 700px){
  .main-images{
    padding: 15px 25px;
    margin-top: 14%;
  }

  .main-images img{
    width: 50px;
    height: 70px;
  }
  .main-cont{
    padding: 10px;
    gap: 20px;
  }
  .card-data{
    width: 100%;
    height: 35%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 10px;
  }
  .heading h2{
    font-size: 11px;
  }
  .pricing{
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgba(229, 223, 217, 1);
    font-size: 25px;
  
  }
  .pricing-p{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: rgba(229, 223, 217, 1);
    font-size: 8px;
    align-items: end;
  }
  .pricing-p p{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgba(229, 223, 217, 1);
    font-size: 12px;
  }
  .pricing-p h2{
    text-decoration: line-through;
  }
  .spec-price{
    font-size: 5px;
  }
  .half{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 20%;
    cursor: pointer;
  }
}

@media only screen and (max-width: 699px) and (min-width: 350px){
    
  .top-name{
    font-size: 16px;
    font-weight:lighter;
    letter-spacing: 4px;
    color: rgba(229, 223, 217, 1);
  }
  .top-icons{
    padding: 8px;
    gap: 8px;
    font-size: 18px;
    color: rgba(229, 223, 217, 1);
    cursor: pointer;
  }
  .bottom-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    font-size: 15px;
  }
  .main-images{
    padding: 35px 8px;
    margin-top: 18%;
  }

  .main-images img{
    width: 30px;
    height: 50px;
  }

  .container-card{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  .main-cont{
    padding: 10px;
    gap: 20px;
  }
  .card-data{
    width: 100%;
    height: 35%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 10px;
  }
  .card{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  .heading h2{
    font-size: 11px;
  }
  .pricing{
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgba(229, 223, 217, 1);
    font-size: 25px;
  
  }
  .pricing-p{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: rgba(229, 223, 217, 1);
    font-size: 8px;
    align-items: end;
  }
  .pricing-p p{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgba(229, 223, 217, 1);
    font-size: 12px;
  }
  .pricing-p h2{
    text-decoration: line-through;
  }
  .spec-price{
    font-size: 5px;
  }
  .half{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 20%;
    cursor: pointer;
  }
}